
.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;

    img {
        width: 13rem;
        height: 13rem;
        margin: -2.2rem 1rem -2rem;
    }

    p {
        font-weight: 500;
        font-size: 2.5rem;
        color: var(--purple-800);
    }

    nav {
        margin-left: 20rem;
        display: flex;
        justify-content: space-evenly;

        a {
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            color: var(--purple-700);
            margin-right: 3rem;
        }
    }

    button {
        margin-left: 5rem;
    }

    .active{
        color: var(--yellow-300);
    }
}