.container {
    max-width: 1400px;
    // border: 1px solid red;
    display: flex;
    margin: auto;
    .content {
        width: 100%;
        // border: 1px solid red;
        margin: 0 auto;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            // border: 1px solid red;

            img {
                // border: 1px solid red;
                width: 5rem;
                height: 5rem;
                // margin: -2.2rem 1rem -2rem;
            }
            
            strong{
                margin-top: -0.8rem;
                // border: 1px solid red;
                text-align: center;
                color: var(--yellow-300);
                font-size: 1.5rem;
                font-weight: 200;

                p {
                    // border: 1px solid red;
                    font-size: 0.4rem;
                    font-weight: 200;
                    color: var(--yellow-500);
                }
            }
        }
    
        // p {
        //     font-weight: 500;
        //     font-size: 2.5rem;
        //     color: var(--red-800);
        // }
    
        nav {
            margin-left: auto;
            display: flex;
            // border: 1px solid red;
    
            a {
                display: inline-block;
                position: relative;
                padding: 0 0.5rem;
                color: var(--yellow-500);
                margin-right: 3rem;

                transition: color 0.2s;

                &:hover {
                    color: var(--yellow-300);
                }
            }
        }
    
        .active{
            color: var(--red-400);

            &:hover {
                color: var(--red-400);
            }
        }

        @media (max-width: 654px) {
            nav {
                display: none;
            }

            a {
                display: none;
            }

            button {
                display: inline-block;
            }

            div {
                ul {
                    li {
                        a {
                            display: block;
                        }
                    }
                }
            }
            
        }
    }
}