.container {
    max-width: 1400px;
    // border: 1px solid red;
    display: flex;
    margin: auto;
    .content {
        width: 100%;
        // border: 1px solid red;
        margin: 0 auto;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        img {
            width: 13rem;
            height: 13rem;
            margin: -2.2rem 1rem -2rem;
        }
    
        p {
            font-weight: 500;
            font-size: 2.5rem;
            color: var(--purple-800);
        }
    
        nav {
            margin-left: auto;
            display: flex;
            // border: 1px solid red;
    
            a {
                display: inline-block;
                position: relative;
                padding: 0 0.5rem;
                color: var(--purple-700);
                margin-right: 3rem;
            }
        }
    
        .active{
            color: var(--yellow-300);
        }

        @media (max-width: 654px) {
            nav {
                display: none;
            }

            a {
                display: none;
            }

            button {
                display: inline-block;
            }

            div {
                ul {
                    li {
                        a {
                            display: block;
                        }
                    }
                }
            }
            
        }
    }
}